@import "@fontsource/inter/variable.css";
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-soft: #f9fafb;
  --text-primary: #1f2937;
}

.dark {
  --bg-soft: #1f2937;
  --text-primary: #f9fafb;
}

.dark {
  --bg-soft: #1f2937; /* slate-800 */
  --text-primary: #f9fafb; /* light gray */
}

html, body {
  background-color: var(--bg-soft);
  color: var(--text-primary);
  font-family: 'Inter', sans-serif;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
